* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.start-btn {
  background-color: #83caa2;
}

.start-btn:hover {
  background-color: #2bb265;
}

#datetime-picker {
  background-color: rgb(216, 225, 91);
}

.timer {
  display: flex;
  gap: 15px;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  height: 50px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;

  color: rgb(89, 89, 243);
}

.label {
  font-size: 15px;
  font-weight: 600;
  color: rgb(17, 17, 127);
  text-transform: uppercase;
}
